<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APIBase" value="http://localhost:9000" />
    <add key="MongoServer" value="SERVER:27017" />
    <!-- this should be encrypted on live, or retrieved from a secure store -->
    <add key="TwitterToken" value="" />
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="AuthToken" value="" />
    <add key="AuthSecret" value="" />
    <add key="TwitterBase" value="https://api.twitter.com/" />
    <add key="TwitterOAuthEndpoint" value="oauth2/token" />
    <add key="TwitterTimelineEndpoint" value="1.1/statuses/user_timeline.json" />
    <add key="TwitterStreamingEndpoint" value="https://stream.twitter.com/1.1/statuses/filter.json" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>