<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
		<link rel="stylesheet" type="text/css" href="./styles.css">
    <!-- scripts: consider bundling... -->
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/factories/notification_factory.js"></script>
    <script type="text/javascript" src="js/controllers/notification_controller.js"></script>
</head>
<body ng-app="NOTEY">
    <div id="header" class="blue500">
        <h2>Notifications</h2>
    </div>
    <div ng-controller="notification_controller">
        <!-- search filters -->
        <div id="search_div">
            <form id="search_form" novalidate ng-submit="searchNotifications()">
                <input type="text" ng-model="source" placeholder="Source" />
                <input type="text" ng-model="date_start" placeholder="Date Start" />
                <input type="text" ng-model="date_end" placeholder="Date End" />
                <select ng-model="status">
                    <option value="0">< All ></option>
                    <option value="pending">Pending</option>
                    <option value="reviewed">Reviewed</option>
                </select>
                <input type="submit" value="SEARCH" />
            </form>
        </div>

        <div>
            <div id="sorting_div" ng-show="notifications">
                <select ng-model="sort_by">
                    <option value="source">Source</option>
                    <option value="pub_date">Pub Date</option>
                    <option value="status">Status</option>
                </select>

                <select ng-model="sort_dir">
                    <option value="+">Ascending</option>
                    <option value="-">Descending</option>
                </select>
            </div>
            <div class="notification_list_inner" ng-repeat="noti in notifications | orderBy: (sort_dir + sort_by)">
                <p><span class="blue500_text">ID: </span>{{noti._id}}</p>
                <p><span class="blue500_text">Source: </span>{{noti.source}}</p>
                <p><span class="blue500_text">Notification:</span></p>
                <!-- notifications: some are HTML (from RSS) so let them be pretty -->
                <div class="notification_container" ng-bind-html="noti.notification"></div>

                <p><span class="blue500_text">Method: </span>{{noti.notification_method.case}}</p>
                <p><span class="blue500_text">PubDate: </span>{{noti.pub_date}}</p>
                <p><span class="blue500_text">Identifier: </span>{{noti.identifier}}</p>
                <p><span class="blue500_text">Status: </span>{{noti.status.case}}</p>
                <input type="button" value="Mark Reviewed" ng-show="noti.status.case == 'Pending'" ng-click="markReviewed(noti._id, $index)" />
            </div>
        </div>
    </div>
</body>
</html>
